
$primary_color : rgb(24, 24, 24);
$secondary_color : rgb(255, 180, 0);

$bg_icon : #2d2e2f;

$font_color : #ffffff;

$font-header : 'VANDAL';
$font-text : 'Tahoma';


// rgb(255, 180, 0)
// $secondary_font_color : #E3E3E3;
// $headers_color : rgb(152, 152, 152);
// $bg_white : #F2F2F2;