
$primary_color : #181818; // #181818
$secondary_color : #ffb400; // ffb400

$bg_icon : #2d2e2f;

$font_color : #ffffff;

$font-header : 'VANDAL', 'Lilita One';
$font-text : 'Tahoma';


// rgb(255, 180, 0)
// $secondary_font_color : #E3E3E3;
// $headers_color : rgb(152, 152, 152);
// $bg_white : #F2F2F2;